# 1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

#Answer
* is mathematical operator
'hello' is a String
-87.8 is floating number
- is a mathematical operator
/ is a mathematical operator
+ is a mathematical operator
6 is a integer

# 2. What is the difference between string and variable?

String = A every word or alphabat or number or any character in 'single coat' , "double coat",'''tripple coat''' is called string.
Variable = Variable a container where you contain the data like string , int, list anything.
you can store the sting into a variable

# 3. Describe three different data types.

1. integer : This data type contain the numberic value like 0,1,2,.....n and also contain the negitive values only.
2. float : This data type contain only decimal number.decimal number also is positive or negitive both.
3. String: This data type contain all the value which is written in single coat' , "double coat",'''tripple coat'''.

# 4. What is an expression made up of? What do all expressions do?

Don't know the answer

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Not understandable for me

# 6. After running the following code, what does the variable bacon contain?
##### bacon = 22
##### bacon + 1

In [15]:

bacon = 22
bacon + 1
bacon#this is still containing 22 value)

22

# 7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

In [9]:
print('this statement is concatenate these value : ,''spam'+'spamspam')
print('this statement give us to the 3 time muliple of spam :','spam'*3)

this statement is concatenate these value : ,spamspamspam
this statement give us to the 3 time muliple of spam : spamspamspam

# 8. Why is eggs a valid variable name while 100 is invalid?

when you create a variable name you must  know about the rule of the declaring the variable.you can't start the variable name with special character and number.The variable can start with alphabet and underscore(-)

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [19]:
x=(input("enter the value"))
print(int(x))
print(float(x))
print(str(x))

enter the value5
5
5.0
5

 # 10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [23]:
#error
'I have eaten ' + 99 + ' burritos.'
#because string can only concatenate with only str

TypeError: can only concatenate str (not "int") to str

In [22]:
#solution
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

In [24]:
pwd

'C:\\Users\\Mohit Sharma\\Krish naik Data Science course\\python Assignment'